body {
  margin: 0;
  overflow: hidden;
}

.square {
  position: absolute;
  width: 100px;
  height: 50px;
  background-image: url("person.png");
  background-size: cover;
}

.square.hit {
  background-size: cover;
  background-image: url("dead_person.png");
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-size: 18px;
}

#player {
  position: absolute;
  width: 70px;
  height: 90px;
}

#player_img {
  position: absolute;
  width: 100%;
}

#gameArea {
  display: none;
  width: 100%;
  height: 100vh;
}

#bg_img {
  display: flex;
  width: 100%;
  height: 100%;
  bottom: 0;
}

#startScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

#startScreen h1 {
  color: white;
}

#startButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
